<footer class="footer-section" id="footer">
  <div class="footer-container">
    <div class="container">
      <div class="info">
        <p class="name">Walid Daoud</p>
        <p class="title">Full Stack Developer</p>
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/walid-daoud-293564211/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin icon"></i>
          </a>
          <a
            href="https://github.com/WalidcoDaoud"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github icon"></i>
          </a>
          <a
            href="mailto:walidkd208&#64;gmail.com?subject=Portfolio%20Contact&body=Hi%20Walid,"
            rel="noopener noreferrer"
          >
            <i class="bi bi-envelope icon"></i>
          </a>
        </div>
      </div>
      <div class="contact">
        <p class="email">
          <i class="bi bi-envelope envelope-icon"></i>
          <a class="email-text" href="mailto:walidkd208&#64;gmail.com?subject=Portfolio%20Contact&body=Hi%20Walid,">walidkd208&#64;gmail.com</a>
        </p>
        <div class="locale">
          <i class="bi bi-geo-alt"></i>
          <p class="city">
            São Paulo, Brazil
          </p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <p>&copy; {{ currentYear }} Walid Daoud. All rights reserved.</p>
    </div>
  </div>
</footer>
