<nav class="nav-container">
  <div class="container">
    <div class="header">
      <div class="home">
        <a class="home-link" href="#header">Walid Daoud</a>
      </div>

      <div class="nav-items desktop">
        <div class="nav-links">
          <a
            *ngFor="let item of navItems"
            [href]="item.href"
            (click)="scrollWithOffset($event, item.href)"
            class="item-link"
          >
            {{ item.name }}
          </a>
          <a href="/Walid-Alsaid-Daoud-CV.pdf" download class="item-link download-button"><i class="bi bi-download"></i>Download CV</a>
          <button class="item-link" (click)="toggleDarkMode()"><i class="bi bi-moon-fill"></i></button>
        </div>
      </div>

      <div class="menu-button" (click)="isMenuOpen = !isMenuOpen">
        <span *ngIf="!isMenuOpen">&#9776;</span>
        <span *ngIf="isMenuOpen">&times;</span>
      </div>
    </div>

    <div class="mobile-nav" *ngIf="isMenuOpen">
      <a
        *ngFor="let item of navItems"
        [href]="item.href"
        (click)="scrollWithOffset($event, item.href); closeMenu()"
        class="item-link"
      >
        {{ item.name }}
      </a>
    </div>
  </div>
</nav>
