html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Inter', sans-serif
  scroll-behavior: smooth
  scroll-padding-top: 80px

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
div, span,
strong, em, b, i, u, small, mark, abbr, code, sub, sup
  margin: 0

$black: #000
$white: #FFF

$primary-color: #2563EB
$job-color: #374151
$subtitle-color: #111827
$subtitle-description-color: #4B5563

$secondary-border-color: #D1D5DB
$linkedin-icon: #0A66C2
$github-icon: #181717

$background-color: #F9FAFB
$experience-subtitle-color: #6B7280
$icon-background-color: #DBEAFE
$technical-description-color: #1F2937
$technical-description-background-color: #E5E7EB

$footer-background-color: #1F2937
$footer-text-color: #D1D5DB
$footer-title-text-color: #9CA3AF
$footer-line-color: #374151
$footer-icon-color: #9CA3AF
