@use 'sass:color'

html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Inter', sans-serif
  scroll-behavior: smooth
  scroll-padding-top: 80px

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
div, span,
strong, em, b, i, u, small, mark, abbr, code, sub, sup
  margin: 0

//Dimensions
$max-mobile-width: 485px
$max-tablet-width: 768px
$max-laptop-width: 1280px

// Brand Colors
$primary-color: #2563EB // REMOVE THIS AFTER GLOBAL CSS IS FINISHED
$primary-dark: color.adjust($primary-color, $lightness: -10%)
$primary-light: color.adjust($primary-color, $lightness: 10%)
$background-color: #F9FAFB
$icon-background-color: #DBEAFE

// Neutral Colors
$black: #000
$white: #FFF
$gray-100: #F3F4F6
$gray-200: #E5E7EB
$gray-600: #4B5563
$gray-900: #111827
$blue-600: $primary-color
$blue-700: #1D4ED8

// ======================
// NAVIGATION COLORS
// ======================

// Navigation
$nav-shadow: 0 2px 4px rgba(0, 0, 0, 0.05)
$nav-border: 1px solid rgba(0, 0, 0, 0.05)
$nav-focus-ring: 2px solid $blue-600

// ======================
// HEADER COLORS
// ======================

$job-color: #374151
$subtitle-description-color: #4B5563

$secondary-border-color: #D1D5DB
$linkedin-icon: #0A66C2
$linkedin-contact-icon: #1D4ED8
$github-icon: #181717

$experience-subtitle-color: #6B7280
$technical-description-color: #1F2937

$footer-background-color: #1F2937
$footer-text-color: #D1D5DB
$footer-title-text-color: #9CA3AF
$footer-line-color: #374151
$footer-icon-color: #9CA3AF

$contact-box-shadow: #3b82f6

// ======================
// Dark mode
// ======================

$dark-background: #222831
$dark-secondary-background: #393E46

$dark-nav-text: #F9F7F7
$dark-nav-hover-home: #FFFBE9
$dark-nav-beige: #E3CAA5

$dark-header-text: #F9F7F7
$dark-header-beige: #E3CAA5

$dark-about-text: #F9F7F7
$dark-about-beige: #E3CAA5

body.dark-mode

  // ======================
  // Nav bar
  // ======================

  .nav-container
    background-color: $dark-background !important
    border-bottom: 1px solid #333

    .home-link
      color: $dark-nav-hover-home !important

      &:hover
        color: $dark-nav-beige !important

    .item-link
      color: $dark-nav-text!important

      &:hover
        color: $dark-nav-text !important
        background-color: $dark-nav-beige !important

      &:focus
        outline: 2px solid $dark-nav-text !important

      &:active
        background-color: #2a3e4c !important

  // ======================
  // Header Section
  // ======================

  .header-section
    background: linear-gradient(to top, $dark-background 50%, $dark-secondary-background 100%) !important
    // background-color: $dark-secondary-background !important

    .header-text
      color: $dark-header-text !important

    .name-text
      color: $dark-header-beige !important

    .linkedin-icon,
    .github-icon
      color: $white !important

    .primary
      background-color: $dark-header-beige !important

    .profile-photo
      border: 4px solid $dark-header-beige !important

  // ======================
  // About Section
  // ======================

  .about-container
    background: linear-gradient(to top, $dark-secondary-background 0%, $dark-background 50%) !important
    // background-color: $dark-background !important

    .title
      color: $dark-about-beige !important

    .line
      background-color: $dark-about-text !important

    .story-title
      color: $dark-about-beige !important

    .story-text
      color: $dark-about-text !important

    .section-title
      color: $dark-about-beige !important

    .experience-item
      &::before
        background: linear-gradient(to bottom, $dark-about-beige, transparent) !important

    .experience-icon
      background-color: $dark-about-beige !important

      .icon-blue
        color: $black !important

    .experience-title
      color: $dark-about-beige !important

    .experience-meta
      color: $dark-about-text !important

    .experience-description
      color: $dark-about-text !important

    li
      color: $dark-about-text !important

      &::before
        color: $dark-about-beige !important

      strong
        color: $dark-about-beige !important

  // ======================
  // Skills Section
  // ======================

  .skills-section
    background: linear-gradient(to top, $dark-background 50%, $dark-secondary-background 100%) !important

    .title
      color: $dark-about-beige !important

    .line
      background-color: $dark-about-text !important

    .technical-skills-title
      color: $dark-about-text !important

    .skill-card
      background-color: $dark-about-beige !important

    .skill-name
      color: $dark-about-text !important

    .skill-level
      color: $dark-about-text !important

    .skill-bar-background
      background-color: $dark-secondary-background
