<section class="header-section" id="header">
  <div class="container">
    <div class="container-header">
        <h1 class="name header-text">Hi, I'm <span>Walid Daoud</span></h1>
        <h3 class="job header-text">Full-Stack Developer</h3>
        <p class="professional-tagline header-text">I create engaging digital experiences with clean code and creative problem-solving.</p>
      <div class="buttons">
        <a href="#contact" class="btn primary">Get in touch</a>
        <!-- <a href="#projects" class="btn secondary">View my work</a> -->
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/walid-daoud-293564211/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin fa-2x linkedin-icon icon"></i>
        </a>
        <a href="https://github.com/WalidcoDaoud" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github fa-2x github-icon icon"></i>
        </a>
      </div>
    </div>
    <div class="profile-photo">
      <img class="photo" src="profile-photo.jpg" alt="Profile Photo" />
    </div>
  </div>
</section>
